<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="www.thymeleaf.org">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the price table -->
	<meta name="Petshop" content="yes">
	<!-- set the HandheldFriendly -->
	<meta name="HandheldFriendly" content="True">
	<!-- set the price table style -->
	<meta name="Petshop" content="black">
	<!-- set the description -->
	<meta name="description" content="">
	<title></title>
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600%7CNunito:400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/icon-fonts.css">
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="wrapper">
		<header id="header" th:replace="index::#header">
		</header>
		<main id="main">
			<section class="hero-sec bg-full" style="background-image:url(images/img33.jpg);">
				<div class="caption">
					<h1 class="heading text-center">结算</h1>
				</div>
			</section>
			<section class="check-sec container">
			<div class="row">
					<div class="col-xs-12">
						<table class="table table-bordered">
							<caption>您的订单</caption>
							<thead>
								<tr>
									<th>商品</th>
									<th>总价</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Pets Puriest  × 1</td>
									<td>34.00</td>
								</tr>
								<tr>
									<td>Nutri Vitamin+ × 1</td>
									<td>$40.00</td>
								</tr>
								<tr class="total">
									<td>Sub-Total</td>
									<td class="clr">$74.00</td>
								</tr>
								<tr class="total">
									<td>Total</td>
									<td class="clr">$74.00</td>
								</tr>
							</tbody>
						</table>
						<div class="payment-holder">
							<h2>支付方式</h2>
							<form  class="payment-form" action="#">
								<div class="form-group"> 
									<label>
										<input type="checkbox" class="check" name="checkbox" value="value" checked>支票支付
									</label>
									<p>请将支票发送到商店，街道，镇，州/县，商品邮政编码</p>
								</div>
								<div class="form-group"> 
									<label>
										<input type="checkbox" class="check" name="checkbox" value="value">直接转账
									</label>
								</div>
								<div class="form-group block">
									<label>
										<input type="checkbox" class="check" name="checkbox" value="value">贝宝
										<img src="images/img49.jpg" class="img-responsive" alt="payment-method-image">
										<a href="#">什么是贝宝?</a>
									</label>
								</div>
								<input type="submit" value="立即支付" class="text-uppercase submit-btn">
							</form>
						</div>
					</div>
				</div>
			</section>
<section class="callout" style="background-image:url(images/img26.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<h2>获得所有宠物产品的50%的报价</h2>
						</div>
						<div class="col-xs-12 col-sm-6">
							<a class="btn-primary text-uppercase text-center lg-round" href="#">优惠价代码 : PETTY1234</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer id="footer" th:replace="index::#footer">		
		</footer>
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/jquery.main.js"></script>
</body>
</html>
