<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="www.thymeleaf.org">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the price table -->
	<meta name="Petshop" content="yes">
	<!-- set the HandheldFriendly -->
	<meta name="HandheldFriendly" content="True">
	<!-- set the price table style -->
	<meta name="Petshop" content="black">
	<!-- set the description -->
	<meta name="description" content="">
	<title></title>
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600%7CNunito:400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/icon-fonts.css">
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>

	<style type="text/css">
	.e{
		color:red
	}
</style>
<script type="text/javascript">
	function checkForm(){
		// 校验用户名:
		
		// 校验密码:
		
		// 校验确认密码
		
		//校验邮箱
		return false;
	}
	
	//校验用户名是否存在
	function checkUserName(){
		// ajax 验证用户名是否存在
	}
	function changeImg(){
		// 更新验证码
	}
</script>

</head>
<body>
	<div id="wrapper">
		<header id="header">
			<div class="header-area container">
				<div class="row">
					<div class="col-xs-12 hidden visible-xs">
						<ul class="list-unstyled social-network text-center">
							<li><a href="mailto:792602334@qq.com"><i class="icon-message" aria-hidden="true"></i></a></li>
							<li><a href="tell:15580361233"><i class="icon-phone-call" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="icon-user" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="icon-cart" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6 hidden-xs">
						<ul class="list-unstyled contact-info">
							<li>
								<a href="mailto:petty@support.com" class="icon pull-left"><i class="icon-message"></i></a>
								<div class="align-left pull-left hidden-xs">
									<strong>Mail us:</strong>
									<a href="mailto:792602334@qq.com">792602334@qq.com</a>
								</div>
							</li>
							<li>
								<a href="tell:15580361233" class="icon pull-left"><i class="icon-phone-call"></i></a>
								<div class="align-left pull-left hidden-xs">
									<strong>Call us:</strong>
									<a href="tell:15580361233">(+86) 15580361233</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6 hidden-xs">
						<div class="social-list">
							<ul class="list-unstyled social-network">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							</ul>
							<ul class="list-unstyled account-cart">
							
								<li><a href="login.html"><i class="icon-user"></i><span class="hidden-xs">登录/注册</span></a></li>
								<li><a href="#"><i class="icon-cart"></i><span class="hidden-xs">购物车</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="logo pull-left hidden visible-xs">
							<a href="index.html"><img class="img-responsive" src="images/logo.png" alt="PetShop"></a>
						</div>
						<a href="#" class="nav-opener pull-right hidden visible-xs"><i class="fa fa-bars"></i></a>
						<nav id="nav">
							<ul class="list-unstyled text-uppercase menu-left">
								<li><a href="index.html">首页</a></li>
								<li>
									<a href="javascript:void(0);">在线服务页 <i class="fa fa-angle-down"></i></a>
									<ul class="list-unstyled text-uppercase dropdown">
										<li><a href="services.html">服务</a></li>
										<li><a href="aboutus.html">关于我们</a></li>
										<li><a href="gallery.html">照片墙</a></li>
										<li><a href="404page.html">404 页面</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:void(0);">商店页 <i class="fa fa-angle-down"></i></a>
									<ul class="list-unstyled text-uppercase dropdown">
										<li><a href="shop.html">商店</a></li>
										<li><a href="orders.html">我的订单</a></li>
										<li><a href="cart.html">购物车</a></li>
									</ul>
								</li>
								<li class="logo hidden-xs"><a href="index.html"><img class="img-responsive" src="images/logo.png" alt="PetShop"></a></li>
								<li class="mar-zero">
									<a href="javascript:void(0);">博客</a>
									<ul class="list-unstyled text-uppercase dropdown">
										<li><a href="single-blog.html">热点话题</a></li>
										<li><a href="single-blog.html">发布文章</a></li>
									</ul>
								</li>
								<li><a href="contact-us.html">联系我们</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
				<main id="main">
			<section class="hero-sec bg-full" style="background-image:url(images/img33.jpg);">
				<div class="caption">
					<h1 class="heading text-center">注册</h1>
				</div>
			</section>
			<section id="reguser" class="check-sec container">
				<div class="row">
					<div class="col-xs-12">
						<form class="checkout-form text-left">
							<fieldset>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<h2>用户信息</h2>
										<div class="form-group">		
											<label>账号 <span class="sign">*</span></label>
											<span class="e"> </span><br>
											<input class="form-control "  type="text"
											 name="account" v-model="user.account">
											
											<label>昵称<span class="sign">*</span></label>
											<span class="e"></span><br>
											<input class="form-control " placeholder="" type="text"
											name="username" v-model="user.username">
																				
											<label>密码<span class="sign">*</span></label>
											<span class="e" ></span><br>
											<input class="form-control " placeholder="" type="text"
											name="password" v-model="user.password">
											
											<label>邮箱<span class="sign">*</span></label>
											<span class="e"></span><br>
											<input class="form-control" placeholder="" type="text"
											name="email" v-model="user.email">
											
											<label>性别<span class="sign"></span></label>
											<span class=></span><br>
											<input class="form-control " placeholder="" type="text"
											name="sex" v-model="user.sex">
											
											<label>地址<span class="sign">*</span></label>
											<span class="e"></span><br>
											<input class="form-control" placeholder="" type="text"
											name="addr" v-model="user.addr">
											
											
											<label>电话<span class="sign">*</span></label>
											<span class="e"></span><br>
											<input class="form-control" placeholder="" type="text"
											name="phone" v-model="user.phone">
											
											<th>&nbsp;</th>
											<input @click="reg" type="button" class="submit"
												value="提交">
											
										</div>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</section>
			
			<script type="text/javascript">
						var v2 = new Vue({
							el:"#reguser",
							data:{
								user:{
									account:"",
									password:"",
									username:"",
									email:"",
									phone:"",
									
									state:"",
								
									addr:""
								}
								
								
							},
							methods:{
								
								reg(){
									var params = new URLSearchParams();
									params.append("account",this.user.account);
									params.append("password",this.user.password);
									params.append("username",this.user.username);
									params.append("email",this.user.email);
									params.append("phone",this.user.phone);
									params.append("sex",this.user.sex);
									params.append("addr",this.user.addr);
									
									
									axios.post("reg",params).then(res=>{
										alert(res.data.msg);
										if(res.data.code == 1){
											location.href="login.html";
										}
									}).catch(error=>{
										alert("系统错误，请联系管理员");
									})
								}
							}
							
						})
					
					</script>
			
<section class="callout" style="background-image:url(images/img26.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<h2>获得所有宠物产品的50%的报价</h2>
						</div>
						<div class="col-xs-12 col-sm-6">
							<a class="btn-primary text-uppercase text-center lg-round" href="#">优惠价代码 : PETTY1234</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 abt-txt">
						<div class="footer-logo">
							<a href="#"><img src="images/footer-logo.png" alt="Pet Shop" class="img-responsive"></a>
						</div>
						<p>你给我们信任，我们给它关爱。</p>
						<ul class="contact-list list-unstyled">
							<li><span class="icon"><i class="fa fa-map-signs" aria-hidden="true"></i></span> No: 801, petty 商店, 湖南省衡阳市.</li>
							<li><a href=""><span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>792602334@qq.com</a></li>
							<li><a href="#"><span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span> (+86) 15580361233 </a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2">
						<h3>宠物信息</h3>
						<ul class="info-list list-unstyled">
							<li><a href="#"><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>宠物收容所</a></li>
							<li><a href="#"><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>快乐的宠物</a></li>
							<li><a href="#"><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>宠物日常护理</a></li>
							<li><a href="#"><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>宠物训练</a></li>
							<li><a href="#"><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>帮助宠物</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<h3>照片墙</h3>
						<ul class="insta-list list-unstyled">
							<li><a href="#"><img src="images/img27.jpg" alt="footer-img" class="img-responsive"></a></li>
							<li><a href="#"><img src="images/img28.jpg" alt="footer-img" class="img-responsive"></a></li>
							<li><a href="#"><img src="images/img29.jpg" alt="footer-img" class="img-responsive"></a></li>
							<li><a href="#"><img src="images/img30.jpg" alt="footer-img" class="img-responsive"></a></li>
							<li><a href="#"><img src="images/img31.jpg" alt="footer-img" class="img-responsive"></a></li>
							<li><a href="#"><img src="images/img32.jpg" alt="footer-img" class="img-responsive"></a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<h3>电子邮件</h3>
						<div class="newsletter">
							<p>欢迎联系我们！！！</p>
							<form class="newsletter-form" action="#">
								<fieldset>
									<input class="form-control" placeholder="Email" type="email">
									<button class="submit-btn round" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>