<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="www.thymeleaf.org">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the price table -->
	<meta name="Petshop" content="yes">
	<!-- set the HandheldFriendly -->
	<meta name="HandheldFriendly" content="True">
	<!-- set the price table style -->
	<meta name="Petshop" content="black">
	<!-- set the description -->
	<meta name="description" content="">
	<title></title>
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600%7CNunito:400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/icon-fonts.css">
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="wrapper">
		<header id="header" th:replace="index::#header">
		</header>
		<main id="main">
			<section class="hero-sec bg-full" style="background-image:url(images/img33.jpg);">
				<div class="caption">
					<h1 class="heading text-center">博客</h1>
				</div>
			</section>
			<section class="blog-sec style2 container">
				<div class="row">
					<div class="col-xs-12">
						<article id="content">
							<ul>
							  <li><a href="#"  >你们喜欢雪纳瑞的什么？</a></li>
							</ul>
					
						</article>
						<aside id="sidebar">
							<section class="widget">
								<form class="search-form" action="#">
									<fieldset>
										<input class="form-control" placeholder="Search...." type="search">
										<button class="submit-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
									</fieldset>
								</form>
							</section>
							<section class="widget">
								<h3>商品分类</h3>
								<ul class="list-unstyled category-list" th:each="c:${clist}">
									<li><a th:href="'cateshop?cid='+${c.cid}"><span class="icon fa fa-paw" th:text="${c.cname}">Pet Grooming</span></a></li>
								</ul>
							</section>
							<section class="widget">
								<h3>最新发布</h3>
								<ul class="list-unstyled feature-list feature2">
									<li>
										<div class="img-holder">
											<a href="single-blog.html"><img class="img-responsive" src="images/img55.jpg" alt="image description"></a>
										</div>
										<div class="txt-holder">
											<h3><a href="single-blog.html">Many desktop publishing web page editors</a></h3>
											<time class="time" datetime="2018-02-03 20:00">2 months ago</time>
										</div>
									</li>
									<li>
										<div class="img-holder">
											<a href="single-blog.html"><img class="img-responsive" src="images/img56.jpg" alt="image"></a>
										</div>
										<div class="txt-holder">
											<h3><a href="single-blog.html">Various versions have evols over the years</a></h3>
											<time class="time" datetime="2018-02-03 20:00">1 Day ago</time>
										</div>
									</li>
									<li>
										<div class="img-holder">
											<a href="single-blog.html"><img class="img-responsive" src="images/img57.jpg" alt="image"></a>
										</div>
										<div class="txt-holder">
											<h3><a href="single-blog.html">Lorem Ipsum is therefore always free</a></h3>
											<time class="time" datetime="2018-02-03 20:00">5 mins ago</time>
										</div>
									</li>
								</ul>
							</section>
							
						</aside>
					</div>
				</div>
			</section>
			<section class="callout" style="background-image:url(images/img26.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<h2>获得所有宠物产品的50%的报价</h2>
						</div>
						<div class="col-xs-12 col-sm-6">
							<a class="btn-primary text-uppercase text-center lg-round" href="#">优惠价代码 : PETTY1234</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer id="footer" th:replace="index::#footer">
		</footer>
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/jquery.main.js"></script>
</body>
</html>
